
/*///////////////////////////////////////////////////
//
//            ▼ ベース設定 ▼
//
///////////////////////////////////////////////////*/
@font-face {
	font-family: "apple_chancery";
	src: url(../fonts/Apple_Chancery.ttf) format("truetype");
}
body{-webkit-text-size-adjust: 100%;}
html{
	color: #000;
	font-size: 15px;
	line-height: 2;
	font-family: 'Noto Sans JP', sans-serif;
	/*font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	/*font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
	/*font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;*/
	-webkit-text-size-adjust: 100%;
}
a{
	color: #000;
	display: block;
}
#wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
/* .l_container{
	width: 100%;
	padding:0 1rem;
} */
.container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 2rem;
}
/* .m_container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 2rem;
}
.s_container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 2rem;
} */
.is_pc{display: none;}
.is_hidden_tab{display: none;}
.is_hidden_sp{display: none;}
:root{
	--insta_blue:#4C64D3;
	--insta_red:#CF2E92;
	--insta_orange:#F26939;
	--insta_yellow:#FFDD83;
	--facebook: #3C5A99;
	--twitter: #1DA1F2;
	--line: #00B900;
	--youtube: #DA1725;
	--green: #2e9648;
	--emegreen: #35b79d;
	--orange: #f7ad6f;
	--pink: #f29c9f;
	--purple: #c09ce9;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.inertia{ -webkit-overflow-scrolling: touch; }
.preload * { transition: none !important; }

/*///////////////////////////////////////////////////
//
//            ▼ 共通 ▼
//
///////////////////////////////////////////////////*/
body.active{ overflow: hidden; }
main{
	margin-top: 7rem;
}
.notoserif{
	font-family: 'Noto Serif JP', serif;
}
.hiragino{
	font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}
.apple_chancery{
	font-family: "apple_chancery", serif;
	font-weight: normal;
}
.btn a,
.btn p{
	position: relative;
	font-size: 1rem;
	font-family: 'Noto Serif JP', serif;
	font-weight: 700;
	text-align: center;
	color: #fff;
	background: var(--green);
	max-width: 400px;
	width: 100%;
	height: 2.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 1px var(--green);
	border-radius: 2rem;
	margin: 0 auto;
	overflow: hidden;
	transition: color .3s cubic-bezier(.79,.01,.21,.96);
}
.btn.white a,
.btn.white p{
	color: var(--green);
	background: #fff;
}
.btn.emegreen a,
.btn.emegreen p{
	background: var(--emegreen);
	border: solid 1px var(--emegreen);
}
.btn.orange a,
.btn.orange p{
	background: var(--orange);
	border: solid 1px var(--orange);
}
.btn.pink a,
.btn.pink p{
	background: var(--pink);
	border: solid 1px var(--pink);
}
.btn.purple a,
.btn.purple p{
	background: var(--purple);
	border: solid 1px var(--purple);
}
.btn a span,
.btn p span{
	position: relative;
	z-index: 2;
}
.btn a span::after,
.btn p span::after{
	position: absolute;
	content: '＞';
	top: 50%;
	left: 100%;
	transform: translateY(-50%) translateY(0.05rem);
	margin-left: 0.3rem;
	transition: transform .3s cubic-bezier(.79,.01,.21,.96);
}
.cat.news{
	background: #8ecebe;
}
.cat.event{
	background: #f5bbd4;
}
.ttl_wrap{
	position: relative;
	text-align: center;
	color: #040000;
	padding-top: 2rem;
}
.ttl_wrap::before{
	position: absolute;
	content: '';
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 32px;
	height: 23px;
	background: url(../images/common/ttl_fig.png) center center / contain no-repeat;
}
.ttl_wrap.purple::before{
	background: url(../images/common/ttl_fig_purple.png) center center / contain no-repeat;
}
.ttl_wrap.emegreen::before{
	background: url(../images/common/ttl_fig_emegreen.png) center center / contain no-repeat;
}
.ttl_wrap.green::before{
	background: url(../images/common/ttl_fig_green.png) center center / contain no-repeat;
}
.ttl_wrap.orange::before{
	background: url(../images/common/ttl_fig_orange.png) center center / contain no-repeat;
}
.ttl_wrap.pink::before{
	background: url(../images/common/ttl_fig_pink.png) center center / contain no-repeat;
}
.ttl_wrap .ttl{
	font-size: 1.3rem;
	line-height: 1.5;
	font-family: 'Noto Serif JP', serif;
	font-weight: 500;
}
.ttl_wrap .en{
	font-size: 0.65rem;
	font-family: "apple_chancery", serif;
	letter-spacing: 0.3em;
}
.fadein{
	opacity: 0;
	transform: translateY(50px);
}
.fadein.active{
	opacity: 1;
	transform: translateY(0);
}
.fade01.active{
	transition: .3s;
}

.fixed_btn{
	position: fixed;
	z-index: 49999;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0.75rem 1rem;
	background: #f9f6f1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fixed_btn .btn{
	width: 48%;
}
.fixed_btn .btn a{
	font-size: 0.93rem;
	background: #fff;
}
.fixed_btn .btn.taiken a{
	color: #1aad90;
	border: solid 1px #1aad90;
}
.fixed_btn .btn.reservation a,
.fixed_btn .btn.shop a{
	color: var(--green);
	border: solid 1px var(--green);
}
.fixed_btn .btn a span{
	position: relative;
	padding-left: 2rem;
}
.fixed_btn .btn.shop a span{
	padding-left: 1.5rem;
}
.fixed_btn .btn a span::before{
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.fixed_btn .btn.taiken a span::before{
	width: 12px;
	height: 19px;
	background: url(../images/common/taiken_icon.png) center center / contain no-repeat;
}
.fixed_btn .btn.reservation a span::before{
	width: 17.5px;
	height: 18px;
	background: url(../images/common/reservation_icon_sp.png) center center / contain no-repeat;
}
.fixed_btn .btn.shop a span::before{
	width: 11.5px;
	height: 18px;
	background: url(../images/common/reservation_icon.png) center center / contain no-repeat;
}
.fixed_btn .btn a span::after{
	content: none;
}

.fixed_taiken_btn{
	position: fixed;
	top: 7rem;
	right: 0;
	z-index: 49999;
}
.fixed_taiken_btn .btn01 a{
	font-size: 0.93rem;
	font-family: 'Noto Serif JP', serif;
	font-weight: 500;
	white-space: nowrap;
	color: #fff;
	background: #1aad90;
	-ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
	padding: 1rem 0.75rem;
}
.fixed_taiken_btn .btn01 a span{
	position: relative;
	padding-top: 1.5rem;
}
.fixed_taiken_btn .btn01 a span::before{
	position: absolute;
	content: '';
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 12px;
	height: 19px;
	background: url(../images/common/taiken_icon.png) center center / contain no-repeat;
}
/*///////////////////////////////////////////////////
//
//            ▼ swiper ▼
//
///////////////////////////////////////////////////*/
.swiper-container-free-mode > .swiper-wrapper{-webkit-transition-timing-function:linear!important; -o-transition-timing-function:linear!important; transition-timing-function:linear!important; }
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next{
	transform: translateY(-50%);
	background: url(../images/common/slider_prev.png) center center / contain no-repeat!important;
	width: 22.2px!important;
	height: 43.2px!important;
	left: -15px!important;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev{
	transform: translateY(-50%);
	background: url(../images/common/slider_next.png) center center / contain no-repeat!important;
	width: 22.2px!important;
	height: 43.2px!important;
	right: -15px!important;
}
.swiper-button-prev,
.swiper-button-next{
	outline: none;
}
/*///////////////////////////////////////////////////
//
//            ▼ ナビ ▼
//
///////////////////////////////////////////////////*/
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 50000;
	transition: .3s;
}
header.active{
	background: rgba(255,255,255,.95);
}
header .container{
	padding: 0 1rem;
}
.header_in{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
header .txt{
	text-align: center;
}
header .txt p{
	font-size: 0.6rem;
	font-weight: 400;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
header .logo a{
	width: 5.5rem;
	transition: .3s;
}
header .header_in.active .logo a{
	width: 4rem;
}
header .logo a img{
	width: 100%;
	height: auto;
}
header .logo .txt{
	width: 100%;
	text-align: center;
}

header nav{
	position: fixed;
	top: 7rem;
	right: -100%;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background: rgba(255,255,255,.95);
	z-index: 50003;
	transition: .3s;
}
header .header_in.active nav{
	top: 5.5rem;
}
header nav.active{
	right: 0;
}
header nav ul{
	margin-top: 1rem;
}
header nav ul li{
	border-bottom: solid 1px #254812;
}
header nav ul li:first-of-type{
	border-top: solid 1px #254812;
}
header nav ul li a{
	padding: 1rem 2rem;
}
header nav .btn_wrap_sp{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 3rem;
	padding: 0 1rem;
}
header nav .btn_wrap_sp .btn{
	width: 48%;
}
header nav .btn_wrap_sp .btn a{
	font-size: 0.93rem;
	background: #fff;
}
header nav .btn_wrap_sp .btn.taiken a{
	color: #1aad90;
	border: solid 1px #1aad90;
}
header nav .btn_wrap_sp .btn.reservation a{
	color: var(--green);
	border: solid 1px var(--green);
}
header nav .btn_wrap_sp .btn a span{
	position: relative;
	padding-left: 2rem;
}
header nav .btn_wrap_sp .btn a span::before{
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
header nav .btn_wrap_sp .btn.taiken a span::before{
	width: 12px;
	height: 19px;
	background: url(../images/common/taiken_icon.png) center center / contain no-repeat;
}
header nav .btn_wrap_sp .btn.reservation a span::before{
	width: 17.5px;
	height: 18px;
	background: url(../images/common/reservation_icon_sp.png) center center / contain no-repeat;
}
header nav .btn_wrap_sp .btn a span::after{
	content: none;
}

.menu_open{
	width: 3rem;
	height: 2.25rem;
	position: relative;
	border: solid 2px #f9f6f1;
	background: #fff;
	border-radius: 2px;
}
.menu_open span{
	position: absolute;
	top:50%;
	left:50%;
	background: #717171;
	width: 40%;
	height: 2px;
	border-radius: 1px;
	transition: .3s;
}
.menu_open span:nth-of-type(1){transform:translate(-50%,-50%) translateY(5px);}
.menu_open span:nth-of-type(2){transform:translate(-50%,-50%);}
.menu_open span:nth-of-type(3){transform:translate(-50%,-50%) translateY(-5px);}
.menu_open.active span:nth-of-type(1){transform:translate(-50%,-50%) rotate(45deg);}
.menu_open.active span:nth-of-type(2){opacity: 0;}
.menu_open.active span:nth-of-type(3){transform:translate(-50%,-50%) rotate(-45deg);}

/*///////////////////////////////////////////////////
//
//            ▼ フッター ▼
//
///////////////////////////////////////////////////*/
footer{
	border-top: solid 2px #254812;
	padding-bottom: 4rem;
}
footer .box01{
	padding: 2.5rem 0;
}
footer .box01_in .item{
	margin-top: 1rem;
}
footer .box01_in .item:first-of-type{
	margin-top: 0;
}
footer .box01_in .item a .img img{
	width: 100%;
	height: auto;
}

footer .box02{
	padding: 2rem 0;
	background: #f9f6f1;
}
footer .box02 .footer_menu .menu{
	margin-top: 1.75rem;
}
footer .box02 .footer_menu .menu:first-of-type{
	margin-top: 0;
}
footer .box02 .footer_menu .menu h3{
	font-size: 0.93rem;
	font-weight: 500;
	color: #254812;
	margin-bottom: 0.5rem;
}
footer .box02 .footer_menu .menu:first-of-type ul li + li{
	margin-top: 1.5rem;
}
footer .box02 .footer_menu .menu ul li a{
	font-size: 0.8rem;
	font-weight: 400;
}
footer .box02 .footer_menu .menu ul:first-of-type li a{
	font-weight: 500;
}
footer .box02 .footer_menu .menu ul li a span{
	position: relative;
}
footer .box02 .footer_menu .menu:first-of-type ul li a span{
	padding-left: 1.75rem;
}
footer .box02 .footer_menu .menu ul li a span::after{
	position: absolute;
	content: '>';
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	margin-left: 0.3rem;
}
footer .box02 .footer_menu .menu:first-of-type ul li a span::before{
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 1.25rem;
	height: 1.125rem;
}
footer .box02 .footer_menu .menu:first-of-type ul li:nth-of-type(1) a span::before{
	background: url(../images/common/footer_menu_icon01.png) center center / contain no-repeat;
}
footer .box02 .footer_menu .menu:first-of-type ul li:nth-of-type(2) a span::before{
	background: url(../images/common/footer_menu_icon02.png) center center / contain no-repeat;
}
footer .box02 .footer_menu .menu:first-of-type ul li:nth-of-type(3) a span::before{
	background: url(../images/common/footer_menu_icon03.png) center center / contain no-repeat;
}

footer .box03{
	padding: 0.5rem 0;
	color: #fff;
	background: #254812;
}
footer .box03_in{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .box03_in .f_logo{
	display: flex;
	align-items: center;
}
footer .box03_in .f_logo .img{
	width: 5rem;
	margin-left: -1.5rem;
}
footer .box03_in .f_logo .img img{
	width: 100%;
	height: auto;
}
footer .box03_in .f_logo .txt{
	padding-left: 0.5rem;
}
footer .box03_in .f_logo .txt .sitename{
	font-size: 1rem;
	font-weight: 900;
	letter-spacing: 0.3em;
}
footer .box03_in .f_logo .txt p{
	line-height: 1.5;
}
footer .box03_in .f_logo .txt .txt01{
	font-size: 0.85rem;
	letter-spacing: 0.44em;
}
footer .box03_in .f_logo .txt .txt02{
	font-size: 0.6rem;
}
footer .box03_in .r_item ul{
	margin-right: -1rem;
}
footer .box03_in .r_item ul li{
	margin-right: 2rem;
}
footer .box03_in .r_item ul li:last-of-type{
	margin-right: 0;
}
footer .box03_in .r_item ul li a{
	color: #fff;
	font-size: 0.6rem;
}
footer .box03_in .copyright{
	width: 100%;
	font-size: 0.6rem;
	text-align: center;
	margin-top: 0.25rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ01 ▼
//
///////////////////////////////////////////////////*/
.top01 .mv{
	position: relative;
	border: solid 3px #a4cc81;
	padding: 1.5rem;
	text-align: center;
}
.top01 .mv::before{
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 210%;
	height: 210%;
	background: url(../images/top/mv_bg.png) center center / contain no-repeat;
}
.top01 .mv_in{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: auto;
	z-index: 2;
	padding: 2.5rem;
}
.top01 .mv .en{
	font-size: 0.6rem;
	letter-spacing: 0.4em;
	line-height: 1.8;
}
.top01 .mv h2{
	font-size: 1.1rem;
	line-height: 1.6;
	letter-spacing: 0.48em;
	margin-top: 2rem;
}
.top01 .mv h2 span{
	display: block;
	font-size: 0.7rem;
	margin-bottom: 1rem;
}
.top01 .mv .copy{
	margin-top: 1.5rem;
}
.top01 .mv .copy p{
	font-size: 0.75rem;
	line-height: 2.2;
}
.top01 .mv .side_txt{
	display: inline-block;
	position: absolute;
	bottom: 15rem;
	left: 0;
	transform: rotate(90deg);
	transform-origin: center left;
	background: #fff;
	padding: 0 1rem;
}
.top01 .mv .side_txt p{
	color: #040000;
	font-size: 0.6rem;
	letter-spacing: 0.3em;
}
.top01 .btn{
	position: relative;
	margin: 2.5rem auto 3.5rem;
	z-index: 2;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ02 ▼
//
///////////////////////////////////////////////////*/
.top02{
	padding: 2.5rem 0 3.5rem;
}
.top02 .box h3{
	font-size: 1.3rem;
	font-weight: 700;
	color: var(--green);
	border-bottom: dotted 1px #7f7f7f;
	padding-bottom: 0.5rem;
	text-align: center;
}
.top02 .box .classroom_list{
	text-align: center;
}
.top02 .box .classroom_list .txt{
	margin-top: 0.75rem;
}
.top02 .box .classroom_list .txt p{
	font-size: 0.8rem;
	margin-bottom: 0.75rem;
}
.top02 .box .classroom_list .txt ul{
	display: flex;
	flex-wrap: wrap;
}
.top02 .box .classroom_list .txt ul li{
	width: 50%;
}
.top02 .box .classroom_list .txt li a{
	line-height: 2.5;
	color: var(--green);
}
.top02 .box .classroom_list .txt li a span{
	position: relative;
}
.top02 .box .classroom_list .txt li a span::after{
	position: absolute;
	content: '>';
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	margin-left: 0.3rem;
}
.top02 .box .classroom_list .btn{
	margin-top: 1rem;
}
.top02 .box .classroom_list .btn.white a{
	max-width: 15rem;
	font-weight: 500;
}

.top02 .box .news_event{
	margin-top: 2rem;
}
.top02 .box .news_event .item{
	margin-top: 1rem;
}
.top02 .box .news_event .item article{
	margin-top: 0.25rem;
}
.top02 .box .news_event .item article:first-of-type{
	margin-top: 0;
}
.top02 .box .news_event .item article a{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.top02 .box .news_event .item article a time{
	display: inline-block;
	white-space: nowrap;
	font-size: 0.6rem;
	margin-right: 0.75rem;
}
.top02 .box .news_event .item article a .cat{
	font-size: 0.6rem;
	line-height: 1;
	padding: 0.25rem;
	width: 4.5rem;
	text-align: center;
	border-radius: 0.3rem;
	margin-right: 1.5rem;
	white-space: nowrap;
}
.top02 .box .news_event .item article a h4{
	width: 100%;
	font-size: 0.8rem;
	font-weight: 400;
	-webkit-line-clamp: 1;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ03 ▼
//
///////////////////////////////////////////////////*/
.top03{
	padding: 2.5rem 0 0;
	background: #eaf8eb;
}
.top03::after{
	position: absolute;
	content: '';
	bottom: 0;
	width: 100%;
	height: 52%;
}
.top03::after{
	right: 0;
	background: #f9f1f4;
}
.top03_in{
	position: relative;
	z-index: 2;
}
.top03 .box{
	margin-top: 2rem;
}
.top03 .box article{
	position: relative;
	margin-top: 2rem;
}
.top03 .box article:first-of-type{
	margin-top: 0;
}
.top03 .box article:nth-of-type(2){
	position: relative;
	margin-bottom: 4rem;
}
.top03 .box article:nth-of-type(2)::after{
	position: absolute;
	content: '';
	top: 100%;
	left: -2rem;
	width: calc(100% + 4rem);
	height: 2rem;
	background: #eaf8eb;
	z-index: -1;
}
.top03 .box article a{
	height: 100%;
	background: #fff;
	box-shadow: 0 2px 10px rgba(47,47,47,.2);
	border-radius: 6px;
	overflow: hidden;
}
.top03 .box article a .img img{
	width: 100%;
	height: auto;
}
.top03 .box article a .txt{
	padding: 1.5rem 1rem 2rem;
}
.top03 .box article a .txt h4{
	font-size: 1.25rem;
	font-weight: 500;
	text-align: center;
	line-height: 1.5;
	margin-bottom: 0.5rem;
}
.top03 .box article.emegreen a .txt h4{
	color: var(--emegreen);
}
.top03 .box article.green a .txt h4{
	color: var(--green);
}
.top03 .box article.orange a .txt h4{
	color: var(--orange);
}
.top03 .box article.pink a .txt h4{
	color: var(--pink);
}
.top03 .box article a .txt h4 span{
	display: block;
	font-size: 0.8rem;
}
.top03 .box article a .txt .minutes_wrap{
	text-align: center;
	overflow: hidden;
}
.top03 .box article a .txt .minutes{
	position: relative;
	font-size: 1.3rem;
	width: 3.25rem;
	height: 3.25rem;
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}
.top03 .box article.emegreen a .txt .minutes{
	background: var(--emegreen);
}
.top03 .box article.green a .txt .minutes{
	background: var(--green);
}
.top03 .box article.orange a .txt .minutes{
	background: var(--orange);
}
.top03 .box article.pink a .txt .minutes{
	background: var(--pink);
}
.top03 .box article a .txt .minutes::before,
.top03 .box article a .txt .minutes::after{
	position: absolute;
	content: '';
	top: 50%;
	right: 100%;
	transform: translateY(-50%);
	width: 500%;
	border: dotted 1px #767676;
}
.top03 .box article a .txt .minutes::before{
	right: 100%;
}
.top03 .box article a .txt .minutes::after{
	left: 100%;
}
.top03 .box article a .txt .minutes span{
	font-size: 0.75rem;
}
.top03 .box article a .txt .en{
	font-size: 0.75rem;
	letter-spacing: 0.2em;
}
.top03 .box article.emegreen a .txt .en{
	color: var(--emegreen);
}
.top03 .box article.green a .txt .en{
	color: var(--green);
}
.top03 .box article.orange a .txt .en{
	color: var(--orange);
}
.top03 .box article.pink a .txt .en{
	color: var(--pink);
}
.top03 .box article a .txt .txt01{
	font-size: 0.8rem;
	line-height: 1.65;
}
.top03 .box article a .txt .btn{
	margin-top: 1.5rem;
}
.top03 .box article a .txt .btn p{
	width: 100%;
	font-size: 0.9rem;
}
.top03 .box article a .txt .btn p span::after{
	position: absolute;
	content: '';
	top: 50%;
	left: 100%;
	transform: translateY(-50%) translateY(0.05rem);
	width: 20px;
	height: 8px;
	background: url(../images/top/top03_fig01.png) center center / contain no-repeat;
}
.top03 .box article a:hover .txt .btn p span::after{
	transform: translateY(-50%) translateY(0.05rem) translateX(0.5rem);
}
.top03 .swiper-container{
	margin-top: 6rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ04 ▼
//
///////////////////////////////////////////////////*/
.top04{
	background: url(../images/top/top04_bg.jpg) center center / cover no-repeat;
	padding: 2.5rem 0 3.5rem;
}
.top04 .copy{
	margin-top: 2rem;
}
.top04 .copy p{
	font-size: 0.875rem;
}
.top04 .box{
	margin-top: 1.5rem;
	text-align: center;
}
.top04 .box .item a{
	position: relative;
	margin: 0 auto;
	width: 85%;
	height: 0;
	padding-bottom: 85%;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 2px 8px rgba(47,47,47,.2);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.top04 .box .item a .inner{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: block;
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.top04 .box .item a .inner h4{
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.3;
}
.top04 .box .item a .inner .img{
	width: auto;
	height: auto;
	margin: 0.5rem auto;
}
.top04 .box .item a .inner .img img{
	width: auto;
	height: 5rem;
}
.top04 .box .item a .inner p{
	font-weight: 700;
	color: var(--green);
}
.top04 .box .item a .inner p span{
	position: relative;
}
.top04 .box .item a .inner p span::after{
	position: absolute;
	content: '＞';
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	margin-left: 0.3rem;
}
.top04 .box .angle{
	font-size: 3rem;
	line-height: 1;
	color: #989898;
}
.top04 .btn{
	margin-top: 3rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ05 ▼
//
///////////////////////////////////////////////////*/
.top05{
	padding: 2.5rem 0 3.5rem;
	background: #f9f6f1;
}
.top05 .box01{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 3rem;
}
.top05 .box01 .item{
	width: 46%;
	margin-top: 1.5rem;
}
.top05 .box01 .item:nth-of-type(-n+2){
	margin-top: 0;
}
.top05 .box01 .item .img{
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 2px 10px rgba(47,47,47,.2);
}
.top05 .box01 .item .txt{
	text-align: center;
	margin-top: 0.75rem;
}
.top05 .box01 .item .txt h4{
	font-size: 1rem;
}
.top05 .box01 .item .txt p{
	font-size: 0.6rem;
}
.top05 .copy{
	margin-top: 2.5rem;
}
.top05 .copy p{
	font-size: 0.875rem;
	line-height: 1.65;
}
.top05 .btn{
	margin-top: 2rem;
}

.top05 .box02{
	border-top: dotted 1px #696969;
	margin-top: 4rem;
	padding: 3rem 0 0;
}
.top05 .box02 .ttl_wrap{
	margin-bottom: 2rem;
}
.top05 .box02 .item .txt .ttl_wrap{
	margin-bottom: 2rem;
}
.top05 .box02 .item .txt p{
	font-size: 0.875rem;
	line-height: 1.65;
}
.top05 .box02 .item .img{
	margin-top: 1.5rem;
}
.top05 .box02 .item .img img{
	width: 100%;
	height: auto;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ06 ▼
//
///////////////////////////////////////////////////*/
.top06{
	padding: 2.5rem 0 3.5rem;
}
.top06 h3{
	font-size: 1.3rem;
	line-height: 1.3;
	color: var(--green);
}
.top06 .box{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 1.5rem;
}
.top06 .box article{
	position: relative;
	margin-top: 1rem;
}
.top06 .box article:first-of-type{
	margin-top: 0;
}
.top06 .box article a .img{
	overflow: hidden;
	border-radius: 5px;
}
.top06 .box article a .img img{
	width: 100%;
	height: auto;
}
.top06 .box article a h4{
	position: absolute;
	bottom: 0.5rem;
	left: 1rem;
	color: #fff;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.5;
}
.top06 .box article a h4 span{
	position: relative;
}
.top06 .box article a h4 span::after{
	position: absolute;
	content: '＞';
	bottom: -0.3rem;
	left: 100%;
	margin-left: 0.3rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ ブログ一覧 ▼
//
///////////////////////////////////////////////////*/
.post_list{
	padding: 2.5rem 0 3.5rem;
	background: #f9f6f1;
}
.post_list .ttl_wrap{
	padding-top: 3.75rem;
}
.post_list .ttl_wrap::before{
	width: 66px;
	height: 42px;
	background: url(../images/top/top07_ttl_fig.png) center center / contain no-repeat;
}
.post_list .box{
	margin-top: 2rem;
}
.post_list .box article{
	position: relative;
	margin-top: 2.5rem;
}
.post_list .box article:first-of-type{
	margin-top: 0;
}
.post_list .box article a .cat{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	font-size: 0.875rem;
	line-height: 1;
	width: 6.5rem;
	padding: 0.4rem;
	z-index: 2;
}
.post_list .box article a .cat.cat01{
	background: #f5bbd4;
}
.post_list .box article a .cat.cat02{
	background: #eee9b9;
}
.post_list .box article a .cat.cat03{
	background: #bcd9ba;
}
.post_list .box article a .cat.cat04{
	background: #f9cdb5;
}
.post_list .box article a .img img{
	width: 100%;
	height: auto;
}
.post_list .box article a .txt{
	margin-top: 1rem;
}
.post_list .box article a .txt .ttl{
	font-size: 0.875rem;
	font-weight: 400;
}
.post_list .btn{
	margin-top: 3.5rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ パンくずリスト ▼
//
///////////////////////////////////////////////////*/
.breadcrumb{
	margin: 0;
	list-style: none;
	background: #fff;
}
.breadcrumb ol{
	display: flex;
	align-items: center;
}
.breadcrumb li{
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	list-style: none;
}
.breadcrumb li::after{
	content: '>';
	padding: 0 0.5em 0 1em;
}
.breadcrumb li:last-child::after{
	content: '';
}
.breadcrumb li a{
	display: flex;
	align-items: center;
	padding: 0.5rem 0;
	color: #040000;
	font-family: 'Noto Serif JP', serif;
	font-weight: 400;
}
.breadcrumb li a .icon{
	display: inline-block;
	width: 1.2rem;
	height: 1.14rem;
}
.breadcrumb li a .icon img{
	display: block;
	width: 100%;
	height: auto;
}
/*///////////////////////////////////////////////////
//
//            ▼ 下層共通 ▼
//
///////////////////////////////////////////////////*/
.lower_mv{
	background: url(../images/common/lower_mv.jpg) center center / cover no-repeat;
	padding: 2.5rem 0;
}
.lower_mv .lower_ttl{
	color: #fff;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.5;
	text-shadow: 0 0 13px rgba(47,47,47,.69);
}
.lower_mv .lower_ttl span{
	display: block;
	font-size: 0.8rem;
	font-family: "apple_chancery", serif;
	letter-spacing: 0.3em;
}
/*///////////////////////////////////////////////////
//
//            ▼ lesson共通 ▼
//
///////////////////////////////////////////////////*/
.lesson_wrap{
	background: #fff;
	border: solid 1px #000;
	border-radius: 6px;
	padding: 1.5rem 1rem;
	margin-top: 2.5rem;
}
.lesson_wrap .l_item .ttl{
	text-align: center;
	font-size: 1.3rem;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 0.6rem;
}
.lesson_wrap.emegreen .l_item .ttl{
	margin-bottom: 1rem;
}
.lesson_wrap.emegreen .l_item .ttl{
	color: var(--emegreen);
}
.lesson_wrap.green .l_item .ttl{
	color: var(--green);
}
.lesson_wrap.orange .l_item .ttl{
	color: var(--orange);
}
.lesson_wrap.pink .l_item .ttl{
	color: var(--pink);
}
.lesson_wrap.purple .l_item .ttl{
	color: var(--purple);
}
.lesson_wrap .l_item .ttl span{
	display: block;
	font-size: 0.75rem;
}
.lesson_wrap .l_item .ttl .en{
	letter-spacing: 0.2em;
}
.lesson_wrap.purple .l_item .ttl .en{
	font-size: 1rem;
	letter-spacing: 0.3em;
}
.lesson_wrap .l_item .ttl .sub_ttl{
	font-weight: 500;
	margin-top: 0.25rem;
}
.lesson_wrap .l_item .minutes_wrap{
	text-align: center;
	overflow: hidden;
}
.lesson_wrap.green .l_item .minutes_wrap{
	display: flex;
	align-items: center;
	justify-content: center;
}
.lesson_wrap .l_item .minutes{
	position: relative;
	font-size: 1.25rem;
	width: 3.25rem;
	height: 3.25rem;
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}
.lesson_wrap.emegreen .l_item .minutes{
	background: var(--emegreen);
}
.lesson_wrap.green .l_item .minutes{
	background: var(--green);
	margin: 0;
}
.lesson_wrap.orange .l_item .minutes{
	background: var(--orange);
}
.lesson_wrap.pink .l_item .minutes{
	background: var(--pink);
}
.lesson_wrap.purple .l_item .minutes{
	background: var(--purple);
}
.lesson_wrap .l_item .minutes::before,
.lesson_wrap .l_item .minutes::after{
	position: absolute;
	content: '';
	top: 50%;
	right: 100%;
	transform: translateY(-50%);
	width: 500%;
	border: dotted 1px #767676;
}
.lesson_wrap .l_item .minutes::before{
	right: 100%;
}
.lesson_wrap .l_item .minutes::after{
	left: 100%;
}
.lesson_wrap.green .l_item .minutes::before,
.lesson_wrap.green .l_item .minutes::after{
	content: none;
}
.lesson_wrap .l_item .minutes span{
	font-size: 0.75rem;
}
.lesson_wrap.green .l_item .minutes_wrap .cross{
	position: relative;
	display: inline-block;
	width: 3rem;
	height: 3rem;
	margin: 0 1rem;
}
.lesson_wrap.green .l_item .minutes_wrap .cross::before,
.lesson_wrap.green .l_item .minutes_wrap .cross::after{
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	width: 3rem;
	height: 1px;
	background: #000;
}
.lesson_wrap.green .l_item .minutes_wrap .cross::before{
	transform: translate(-50%,-50%) rotate(45deg);
}
.lesson_wrap.green .l_item .minutes_wrap .cross::after{
	transform: translate(-50%,-50%) rotate(-45deg);
}
.lesson_wrap .l_item .price{
	margin-top: 0.25rem;
	padding: 0 1rem;
}
.lesson_wrap.green .price{
	padding: 0 0.5rem;
}
.lesson_wrap .l_item .price p{
	font-size: 1.5rem;
}
.lesson_wrap .l_item .price p span{
	font-size: 0.9rem;
	margin-right: 2rem;
}
.lesson_wrap .l_item .btn{
	margin-top: 0.75rem;
}
.lesson_wrap .txt{
	margin: 1.5rem 0;
}
.lesson_wrap .txt p{
	font-size: 0.8rem;
	line-height: 1.65;
}
.lesson_wrap .txt p .green{
	color: var(--green);
}
.lesson_wrap .img{
	overflow: hidden;
	border-radius: 6px;
}
.lesson_wrap .img img{
	width: 100%;
	height: auto;
}
/*///////////////////////////////////////////////////
//
//            ▼ trial03 ▼
//
///////////////////////////////////////////////////*/
.trial03{
	padding: 2.5rem 0 3rem;
}
.line{
	width: 100%;
	height: 1rem;
	background: url(../images/trial/trial03_fig01.png) left top / cover no-repeat;
}
.trial03 .box{
	margin-top: 2rem;
}
.trial03 .box_in{
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.trial03 .box .item:first-of-type{
	order: 1;
}
.trial03 .box .item:last-of-type{
	order: 2;
}
.trial03 .box .item .line{
	margin: 2.5rem 0;
}

.trial03 .box .main_img{
	order: 3;
	max-width: 180px;
	width: 100%;
	margin: 1rem auto 0;
}
.trial03 .box .main_img img{
	width: 100%;
	height: auto;
}
.trial03 .box .txt h3{
	font-size: 1.35rem;
	font-weight: 500;
	color: var(--emegreen);
	line-height: 1.15;
	margin-bottom: 1rem;
}
.trial03 .box .txt h3 span{
	display: block;
	font-size: 0.75rem;
	letter-spacing: 0.2em;
	margin-bottom: 0.5rem;
}
.trial03 .box .item .txt p{
	font-size: 0.8rem;
	line-height: 1.65;
}
/*///////////////////////////////////////////////////
//
//            ▼ trial04 ▼
//
///////////////////////////////////////////////////*/
.trial04{
	background: #eaf8eb;
	padding: 2.5rem 0 4rem;
}
.trial04 .box{
	margin-top: 2.5rem;
}
.trial04 .box .item{
	position: relative;
	background: #fff;
	padding: 2rem 1.5rem 2.5rem;
	border-radius: 6px;
	margin-top: 5rem;
}
.trial04 .box .item:first-of-type{
	margin-top: 0;
}
.trial04 .box .item::after{
	position: absolute;
	content: '';
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 35px 50px 0 50px;
	border-color: #fff transparent transparent transparent;
}
.trial04 .box .item:last-of-type::after{
	content: none;
}
.trial04 .box .item .step{
	position: absolute;
	top: -1rem;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	font-size: 1.8rem;
	line-height: 1;
	letter-spacing: 0.2em;
	color: var(--emegreen);
}
.trial04 .box .item h3{
	font-size: 1.15rem;
	font-weight: 700;
	text-align: center;
	color: var(--emegreen);
}
.trial04 .box .item .copy{
	margin: 1rem 0 1.5rem;
}
.trial04 .box .item .copy p{
	font-size: 0.9rem;
	text-align: center;
}
.trial04 .box .step01 .item_in{
	margin: 1rem 0 1.5rem;
}
.trial04 .box .step01 .item_in .inner{
	margin-top: 2rem;
}
.trial04 .box .step01 .item_in .inner:first-of-type{
	margin-top: 0;
}
.trial04 .box .step01 .item_in .inner a .img{
	border-radius: 6px;
	overflow: hidden;
}
.trial04 .box .step01 .item_in .inner a .img img{
	width: 100%;
	height: auto;
}
.trial04 .box .step01 .item_in .inner a .txt{
	margin-top: 0.75rem;
	text-align: center;
}
.trial04 .box .step01 .item_in .inner a .txt h4,
.trial04 .box .step01 .item_in .inner a .txt .tel{
	font-size: 1rem;
	font-weight: 700;
}
.trial04 .box .step01 .item_in .inner a .txt .link{
	font-weight: 500;
	color: var(--emegreen);
}
.trial04 .box .step01 .item_in .inner a .txt .link span{
	position: relative;
}
.trial04 .box .step01 .item_in .inner a .txt .link span::after{
	position: absolute;
	content: '>';
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	margin-left: 0.3rem;
}
.trial04 .box .step01 .btn{
	margin-top: 2rem;
}

.trial04 .box .step02 .item_in{
	margin-top: 1.5rem;
}
.trial04 .box .step02 .item_in .txt_in{
	border-bottom: dashed 1px #000;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}
.trial04 .box .step02 .item_in .txt_in:last-of-type{
	margin-bottom: 1.5rem;
}
.trial04 .box .step02 .item_in .txt dl{
	display: flex;
}
.trial04 .box .step02 .item_in .txt dt{
	font-size: 0.9rem;
	width: 28%;
}
.trial04 .box .step02 .item_in .txt dd{
	font-size: 0.8rem;
	width: 72%;
	padding-left: 0.5rem;
}
.trial04 .box .step02 .item_in .txt dd ul{
	margin-left: 1rem;
}
.trial04 .box .step02 .item_in .txt dd ul li{
	list-style-type: disc;
}
.trial04 .box .step02 .item_in .img{
	border-radius: 6px;
	overflow: hidden;
}

.trial04 .box .step03 .item_in{
	margin-top: 2rem;
}
.trial04 .box .step03 .item_in .img{
	border-radius: 6px;
	overflow: hidden;
	margin-top: 1rem;
}
.trial04 .box .step03 .item_in .img:first-of-type{
	margin-top: 0;
}
.trial04 .box .step03 .item_in .img img{
	width: 100%;
	height: auto;
}
/*///////////////////////////////////////////////////
//
//            ▼ trial05 ▼
//
///////////////////////////////////////////////////*/
.trial05{
	padding: 2.5rem 0 3.5rem;
}
.trial05 .box01{
	margin-top: 2rem;
}
.trial05 .box01 .txt{
	margin-bottom: 1rem;
}
.trial05 .box01 .txt h3{
	font-size: 1.3rem;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 1.75rem;
	text-align: center;
}
.trial05 .box01 .txt p{
	font-size: 0.8rem;
	line-height: 2.15;
}
.trial05 .box01 .img_wrap{
	position: relative;
}
.trial05 .box01 .img_wrap .img{
	position: relative;
	max-width: 250px;
	width: 100%;
	margin: 0 auto;
	z-index: 2;
}
.trial05 .box01 .img_wrap .fig{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) translateY(1rem);
	max-width: 320px;
	width: 100%;
	height: auto;
}

.trial05 .box02{
	border: solid 5px #eaf8eb;
	border-radius: 6px;
	padding: 1rem 1rem 1.5rem;
	margin-top: 3.5rem;
}
.trial05 .box02 .img{
	border-radius: 6px;
	overflow: hidden;
}
.trial05 .box02 .img img{
	width: 100%;
	height: auto;
}
.trial05 .box02 .txt01 p,
.trial05 .box02 .txt01 h3{
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--emegreen);
	text-align: center;
	line-height: 1.25;
	margin: 1rem 0;
}
.trial05 .box02 .txt01 p span{
	font-size: 1.4rem;
}
.trial05 .box02 .copy{
	text-align: center;
	margin: 1.25rem 0;
}
.trial05 .box02 .copy p{
	font-size: 1.15rem;
	font-weight: 700;
	color: var(--emegreen);
}
.trial05 .box02 .item{
	margin: 1rem 0 1.5rem;
}
.trial05 .box02 .item:first-of-type{
	margin-top: 0;
}
.trial05 .box02 .item .inner{
	margin-top: 2rem;
}
.trial05 .box02 .item .inner:first-of-type{
	margin-top: 0;
}
.trial05 .box02 .item .inner a .img{
	border-radius: 6px;
	overflow: hidden;
}
.trial05 .box02 .item .inner a .img img{
	width: 100%;
	height: auto;
}
.trial05 .box02 .item .inner a .txt{
	margin-top: 0.75rem;
	text-align: center;
}
.trial05 .box02 .item .inner a .txt h4,
.trial05 .box02 .item .inner a .txt .tel{
	font-size: 1rem;
	font-weight: 700;
}
.trial05 .box02 .item .inner a .txt .link{
	font-weight: 500;
	color: var(--emegreen);
}
.trial05 .box02 .item .inner a .txt .link span{
	position: relative;
}
.trial05 .box02 .item .inner a .txt .link span::after{
	position: absolute;
	content: '>';
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	margin-left: 0.3rem;
}
.trial05 .box02 .btn{
	margin: 1.5rem 0 1rem;
}
.trial05 .box02 .btn a{
	height: 4rem;
	border-radius: 10px;
	padding: 1.25rem 0;
}
.trial05 .box02 .btn a span::before{
	position: absolute;
	content: '';
	top: 50%;
	right: 100%;
	transform: translateY(-50%) translateX(-1.5rem);
	width: 1.25rem;
	height: 2.2rem;
	background: url(../images/common/taiken_icon_large.png) center center / contain no-repeat;
}
.trial05 .box02 .txt02{
	text-align: center;
}
.trial05 .box02 .txt02 p{
	font-size: 0.8rem;
	line-height: 2.15;
}
/*///////////////////////////////////////////////////
//
//            ▼ instructors_schools02 ▼
//
///////////////////////////////////////////////////*/
.instructors_schools02{
	padding: 2.5rem 0 3rem;
}
.instructors_schools02 .box .item{
	border: solid 1px #000;
	border-radius: 6px;
	padding: 1rem 1.5rem 2rem;
	margin-top: 2rem;
}
.instructors_schools02 .box .item:first-of-type{
	margin-top: 0;
}
.instructors_schools02 .box .item .profile .img{
	width: 10rem;
	height: 10rem;
	margin: 0 auto 0.5rem;
	border-radius: 50%;
	overflow: hidden;
}
.instructors_schools02 .box .item .profile .img img{
	width: 100%;
	height: auto;
}
.instructors_schools02 .box .item .profile .txt h2{
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
}
.instructors_schools02 .box .item .profile .txt ul li{
	font-size: 0.9rem;
	line-height: 1.65;
}
.instructors_schools02 .box .item .msg{
	margin-top: 2rem;
}
.instructors_schools02 .box .item .msg p{
	font-size: 0.9rem;
	line-height: 1.65;
}
.instructors_schools02 .box .item .school_wrap{
	margin-top: 2rem;
}
.instructors_schools02 .box .item .school_wrap h3{
	font-size: 1rem;
	font-weight: 700;
	border-bottom: solid 1px #000;
	padding-bottom: 0.3rem;
	margin-bottom: 1rem;
}
.instructors_schools02 .box .item .school_wrap .lesson{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.instructors_schools02 .box .item .school_wrap .lesson li{
	font-size: 0.6rem;
	text-align: center;
	line-height: 1;
	width: 7rem;
	padding: 0.75rem 0.5rem;
	margin: 0 0.5rem 0.5rem 0;
	border-radius: 1.5rem;
}
.instructors_schools02 .box .item .school_wrap .lesson li:last-of-type{
	margin-right: 0;
}
.instructors_schools02 .box .item .school_wrap .lesson li.emegreen{
	color: var(--emegreen);
	border: solid 1px var(--emegreen);
}
.instructors_schools02 .box .item .school_wrap .lesson li.green{
	color: var(--green);
	border: solid 1px var(--green);
}
.instructors_schools02 .box .item .school_wrap .lesson li.orange{
	color: var(--orange);
	border: solid 1px var(--orange);
}
.instructors_schools02 .box .item .school_wrap .lesson li.pink{
	color: var(--pink);
	border: solid 1px var(--pink);
}
.instructors_schools02 .box .item .school_wrap .access_wrap{
	margin-top: 0.5rem;
}
.instructors_schools02 .box .item .school_wrap .access_wrap dt,
.instructors_schools02 .box .item .school_wrap .access_wrap dd{
	font-size: 0.75rem;
	line-height: 1.5;
	margin-left: 1.25rem;
}
.instructors_schools02 .box .item .school_wrap .access_wrap dt{
	position: relative;
}
.instructors_schools02 .box .item .school_wrap .access_wrap dt::before{
	position: absolute;
	content: '';
	top: 50%;
	left: -1.25rem;
	transform: translateY(-50%);
	width: 0.8125rem;
	height: 1.1875rem;
}
.instructors_schools02 .box .item .school_wrap .access_wrap dt.address::before{
	background: url(../images/instructors_schools/instructors_schools02_icon01.png) center center / contain no-repeat;
}
.instructors_schools02 .box .item .school_wrap .access_wrap dt.tel::before{
	background: url(../images/instructors_schools/instructors_schools02_icon02.png) center center / contain no-repeat;
}
.instructors_schools02 .box .item .school_wrap .access_wrap dt.access::before{
	background: url(../images/instructors_schools/instructors_schools02_icon03.png) center center / contain no-repeat;
}
.instructors_schools02 .box .item .school_wrap .access_wrap dd{
	margin-bottom: 1rem;
}
.instructors_schools02 .box .item .school_wrap .access_wrap dd:last-of-type{
	margin-bottom: 0;
}
.instructors_schools02 .box .item .school_wrap .access_wrap .img{
	border-radius: 6px;
	overflow: hidden;
	margin-top: 1.5rem;
}
.instructors_schools02 .box .item .btn{
	margin-top: 1.5rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ instructors_schools03 ▼
//
///////////////////////////////////////////////////*/
.instructors_schools03{
	padding: 1rem 0 5rem;
}
.instructor_wrap .ttl{
	position: relative;
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
	overflow: hidden;
}
.instructor_wrap .ttl::before,
.instructor_wrap .ttl::after{
	position: absolute;
	content: '';
	top: 50%;
	width: 50%;
	height: 1rem;
}
.instructor_wrap .ttl::before{
	left: 50%;
	transform: translate(-50%,-50%) translateX(-95%);
	background: url(../images/trial/trial03_fig01.png) right top / cover no-repeat;
}
.instructor_wrap .ttl::after{
	left: 50%;
	transform: translate(-50%,-50%) translateX(95%);
	background: url(../images/trial/trial03_fig01.png) left top / cover no-repeat;
}
.instructor_wrap .main_item{
	width: 100%;
	max-width: 300px;
	width: 100%;
	margin: 2rem auto 0;
}
.instructor_wrap .main_item .img{
	border-radius: 6px;
	overflow: hidden;
}
.instructor_wrap .main_item .txt{
	margin-top: 0.75rem;
}
.instructor_wrap .main_item .txt .instructor_name{
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
}
.instructor_wrap .main_item .txt ul li{
	font-size: 0.9rem;
	line-height: 1.65;
}
.instructor_wrap .main_item .txt .msg{
	margin-top: 2rem;
}
.instructor_wrap .main_item .txt .msg p{
	font-size: 0.9rem;
	line-height: 1.72;
}
.instructor_wrap .box_in{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 2.5rem;
}
.instructor_wrap .box_in .item{
	width: 47%;
	margin-top: 2rem;
}
.instructor_wrap .box_in .item:nth-of-type(-n+2){
	margin-top: 0;
}
.instructor_wrap .box_in .item .img{
	border-radius: 6px;
	overflow: hidden;
}
.instructor_wrap .box_in .item .img img{
	width: 100%;
	height: auto;
}
.instructor_wrap .box_in .item .txt{
	margin-top: 0.75rem;
}
.instructor_wrap .box_in .item .txt .instructor_name{
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 0.25rem;
}
.instructor_wrap .box_in .item .txt p{
	font-size: 0.9rem;
	line-height: 1.65;
}
/*///////////////////////////////////////////////////
//
//            ▼ school01 ▼
//
///////////////////////////////////////////////////*/
.school01{
	background: url(../images/school/mv.jpg) center center / cover no-repeat;
}
.school01 .txt{
	height: 25vh;
	min-height: 13rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.school01 .txt .ttl{
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.5;
	text-shadow: 0 0 13px rgba(47,47,47,.69);
	margin-bottom: 0.5rem;
}
.school01 .txt .ttl span{
	display: block;
	font-size: 0.65rem;
	font-family: "apple_chancery", serif;
	letter-spacing: 0.3em;
}
.school01 .txt p{
	font-size: 0.9rem;
	font-weight: 500;
	text-shadow: 0 0 13px rgba(47,47,47,.69);
}
/*///////////////////////////////////////////////////
//
//            ▼ school02 ▼
//
///////////////////////////////////////////////////*/
.school02{
	padding: 2.5rem 0 3.5rem;
}
.school02 .menu{
	margin: 2rem 0 3rem;
	text-align: center;
}
.school02 .menu li{
	margin-top: 0.75rem;
}
.school02 .menu li:first-of-type{
	margin-top: 0;
}
.school02 .menu li a{
	font-size: 0.9rem;
	color: #040000;
	letter-spacing: 0.3em;
}
.school02 .menu li a span{
	position: relative;
	display: inline-block;
}
.school02 .menu li a span::after{
	position: absolute;
	content: '▽';
	top: 50%;
	left: 100%;
	transform: translateY(-50%);
	margin-left: 0.5rem;
}
.school02 .news_event{
	margin-top: 2rem;
}
.school02 .news_event .l_item{
	text-align: center;
	border-bottom: dotted 1px #7f7f7f;
	padding-bottom: 0.5rem;
}
.school02 .news_event .l_item h3{
	font-size: 1.3rem;
	color: var(--green);

}
.school02 .news_event .r_item{
	margin-top: 0.75rem;
}
.school02 .news_event .r_item article{
	margin-top: 0.25rem;
}
.school02 .news_event .r_item article:first-of-type{
	margin-top: 0;
}
.school02 .news_event .r_item article a{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.school02 .news_event .r_item article a time{
	display: inline-block;
	white-space: nowrap;
	font-size: 0.6rem;
	margin-right: 0.75rem;
}
.school02 .news_event .r_item article a .cat{
	font-size: 0.6rem;
	line-height: 1;
	padding: 0.25rem;
	width: 4.5rem;
	text-align: center;
	border-radius: 0.3rem;
	margin-right: 1.5rem;
	white-space: nowrap;
}
.school02 .news_event .r_item article a h4{
	width: 100%;
	font-size: 0.8rem;
	font-weight: 400;
	-webkit-line-clamp: 1;
}
/*///////////////////////////////////////////////////
//
//            ▼ school03 ▼
//
///////////////////////////////////////////////////*/
.school03{
	background: #f9f6f1;
	padding: 2rem 0 2.5rem;
	text-align: center;
}
.school .sub_ttl{
	font-size: 0.9rem;
	font-family: "apple_chancery", serif;
	letter-spacing: 0.3em;
	color: #040000;
}
.school03 .slider{
	position: relative;
	margin-top: 1.5rem;
}
.school03 .slider .slider_in{
	max-width: 600px;
	margin: 0 auto;
	width: 90%;
}
.school03 .slider .img{
	border-radius: 6px;
	overflow: hidden;
}
.school03 .slider .swiper-slide p{
	margin-top: 1rem;
	font-size: 0.9rem;
	font-weight: 700;
}
/*///////////////////////////////////////////////////
//
//            ▼ school04 ▼
//
///////////////////////////////////////////////////*/
.school04{
	padding: 2.5rem 0 4rem;
}
.school04 .lesson_wrap{
	margin-top: 2rem;
}
.school04 .box02{
	margin-top: 4rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ school05 ▼
//
///////////////////////////////////////////////////*/
.school05{
	background: #f9f6f1;
	padding: 2.5rem 0 3.5rem;
}
.school05 .box{
	margin-top: 2rem;
}
.school05 .box .copy{
	text-align: center;
}
.school05 .box .copy p{
	font-size: 0.9rem;
	font-weight: 700;
	line-height: 1.62;
}
.school05 .box .copy p.notes{
	font-size: 0.8rem;
	font-weight: 400;
}
.school05 .box .btn_wrap{
	margin: 2rem 0 2.5rem;
}
.school05 .box .btn_wrap .r_btn .btn.white{
	margin-top: 1rem;
}
.school05 .box .btn_wrap .r_btn .btn.white a{
	font-size: 1.3rem;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 700;
	line-height: 1;
	box-shadow: 0 2px 8px rgba(47,47,47,.2);
}
.school05 .box .btn_wrap .r_btn .btn.white a span{
	display: inline-block;
	padding-left: 1.5rem;
}
.school05 .box .btn_wrap .r_btn .btn.white a span::before{
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 12px;
	height: 19px;
	background: url(../images/common/reservation_icon.png) center center / contain no-repeat;
	transition: .3s;
}
.school05 .box .btn_wrap .r_btn .btn.white a:hover span::before{
	background: url(../images/common/reservation_icon_w.png) center center / contain no-repeat;
}
.school05 .box .btn_wrap .r_btn .btn.white a span::after{
	content: none;
}
.school05 .box .btn_wrap .l_btn p,
.school05 .box .btn_wrap .r_btn p{
	font-size: 0.75rem;
	text-align: center;
	margin-top: 0.25rem;
}
.school05 .box .g_cal{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%;
}
.school05 .box .g_cal iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*///////////////////////////////////////////////////
//
//            ▼ school06 ▼
//
///////////////////////////////////////////////////*/
.school06{
	padding: 2.5rem 0 3.5rem;
}
.school06 .box{
	margin-top: 2rem;
}
.school06 .box .l_item h3{
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
.school06 .box .l_item table{
	width: 100%;
}
.school06 .box .l_item table tr{
	border-top: solid 1px #000;
}
.school06 .box .l_item table tr:last-of-type{
	border-bottom: solid 1px #000;
}
.school06 .box .l_item table tr td{
	padding: 1rem 0 1rem 1.1rem;
	font-size: 0.75rem;
	line-height: 1.5;
}
.school06 .box .l_item table tr td span{
	position: relative;
}
.school06 .box .l_item table tr td.tel p span{
	font-size: 0.9rem;
}
.school06 .box .l_item table tr td.tel p + p{
	margin-top: 1rem;
}
.school06 .box .l_item table tr td.tel .notes{
	margin-left: -1.25rem;
	font-size: 0.65rem;
	line-height: 1.565;
}
.school06 .box .l_item table tr td span::before{
	position: absolute;
	content: '';
	top: 50%;
	left: -1.1rem;
	transform: translateY(-50%);
	width: 0.8125rem;
	height: 1.1875rem;
}
.school06 .box .l_item table tr td.address span::before{
	background: url(../images/instructors_schools/instructors_schools02_icon01.png) center center / contain no-repeat;
}
.school06 .box .l_item table tr td.access span::before{
	background: url(../images/instructors_schools/instructors_schools02_icon03.png) center center / contain no-repeat;
}
.school06 .box .l_item table tr td.tel span::before{
	background: url(../images/instructors_schools/instructors_schools02_icon02.png) center center / contain no-repeat;
}
.school06 .box .l_item .sns_wrap{
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
	padding: 0 0.5rem;
}
.school06 .box .l_item .sns_wrap a{
	margin-right: 3rem;
	line-height: 1;
}
.school06 .box .l_item .sns_wrap a span{
	font-size: 1.625rem;
	line-height: 1;
	transition: .3s;
}
.school06 .box .l_item .sns_wrap a.instagram .svg_instagram{
	display: inline-block;
	width: 1.625rem;
	height: 1.625rem;
}
.school06 .box .l_item .sns_wrap a.instagram .svg_instagram .instagram_path{
	fill: #000;
}
.school06 .box .r_item{
	margin-top: 2rem;
}
.school06 .box .gmap{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 75%;
}
.school06 .box .gmap iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*///////////////////////////////////////////////////
//
//            ▼ lesson_common02 ▼
//
///////////////////////////////////////////////////*/
.lesson_common02{
	background: url(../images/trial/trial02_bg.jpg) center center / cover no-repeat;
	padding: 2.5rem 0 3rem;
}
.lesson_common02 .copy{
	margin-top: 2rem;
	text-align: center;
}
.lesson_common02 .copy p{
	font-size: 0.8rem;
	line-height: 2.35;
}
/*///////////////////////////////////////////////////
//
//            ▼ lesson_common03 ▼
//
///////////////////////////////////////////////////*/
.lesson_common03{
	padding: 2.5rem 0 3.5rem;
}
.lesson_common03 .box{
	margin-top: 2rem;
}
.lesson_common03 .box .img{
	max-width: 350px;
	margin: 0 auto;
}
.lesson_common03 .box .img img{
	width: 100%;
	height: auto;
}
.lesson_common03 .box .txt{
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.lesson_common03 .box .txt ul li{
	position: relative;
	font-size: 0.8rem;
	font-weight: 500;
	margin-top: 1rem;
	padding-left: 2em;
	text-indent: -2em;
}
.lesson_common03 .box .txt ul li::before{
	content: '□';
	margin-right: 0.5rem;
}
.lesson_common03 .box .txt ul li::after{
	position: absolute;
	content: '';
	top: -0.3rem;
	left: -0.15rem;
	background: url(../images/common/check.png) center center / contain no-repeat;
	width: 1.125rem;
	height: 1.2375rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ basic_lesson04 ▼
//
///////////////////////////////////////////////////*/
.lesson_common04{
	padding: 2.5rem 0 4rem;
}
.lesson_common04.basic_lesson04{
	background: #eaf8eb;
}
.lesson_common04.lesson02_04{
	background: #fef6ef;
}
.lesson_common04.salsation04{
	background: #fdf5fc;
}
.lesson_common04.instructor_training04{
	background: #fbf1fd;
}
.lesson_common04 .box{
	margin-top: 2rem;
}
.lesson_common04 .box .copy{
	text-align: center;
}
.lesson_common04 .box .copy p{
	font-size: 0.8rem;
	line-height: 2.35;
}
.lesson_common04 .box_in{
	margin-top: 2rem;
}
.lesson_common04 .box_in .item{
	margin-top: 3rem;
}
.lesson_common04 .box_in .item:first-of-type{
	margin-top: 0;
}
.lesson_common04 .box_in .item .img{
	border-radius: 6px;
	overflow: hidden;
	margin-left: -1rem;
}
.lesson_common04 .box_in .item .txt{
	position: relative;
	margin: -2.5rem -1rem 0 0;
	z-index: 2;
}
.lesson_common04 .box_in .item .txt a{
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 2.5rem 1.5rem 2rem;
	border-radius: 6px;
}
.lesson_common04 .box_in .item .txt a h3{
	font-size: 1.8rem;
	line-height: 1;
	letter-spacing: 0.3em;
	margin-bottom: 1rem;
}
.lesson_common04 .box_in .item .txt a h4{
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
}
.lesson_common04 .box_in .item .txt a p{
	font-size: 0.8rem;
	line-height: 1.7;
}
.lesson_common04 .box_in .item .txt a .link_txt{
	margin-top: 1.5rem;
}
.lesson_common04 .box_in .item .txt a .link_txt p{
	font-size: 0.9rem;
	font-weight: 700;
}
.lesson_common04.basic_lesson04 .box_in .item .txt a .link_txt p{
	color: #2e9648;
}
.lesson_common04 .box_in .item .txt a .link_txt p span{
	position: relative;
}
.lesson_common04 .box_in .item .txt a .link_txt p span::after{
	position: absolute;
	content: '';
	top: 50%;
	left: 100%;
	transform: translateY(-50%) translateX(1rem);
	background: url(../images/common/link_fig01.png) center center / contain no-repeat;
	width: 3.55rem;
	height: 0.45rem;
	transition: .3s;
}
/*///////////////////////////////////////////////////
//
//            ▼ lesson_common05 ▼
//
///////////////////////////////////////////////////*/
.lesson_common05{
	padding: 2.5rem 0 3.5rem;
}
.lesson_common05 .lesson_wrap{
	margin-top: 0;
}
/*///////////////////////////////////////////////////
//
//            ▼ instructor_training05 ▼
//
///////////////////////////////////////////////////*/
.instructor_training05{
	padding: 2.5rem 0 4rem;
}
.instructor_training05 .box{
	margin-top: 2rem;
}
.instructor_training05 .box_in{
	margin-top: 3.5rem;
}
.instructor_training05 .box_in:first-of-type{
	margin-top: 0;
}
.instructor_training05 .lesson_wrap{
	margin-top: 0;
}
.instructor_training05 .box .curriculum_table{
	margin-top: 1.5rem;
}
.instructor_training05 .box .curriculum_table .body{
	display: none;
}
.instructor_training05 .box .curriculum_table dl{
	display: flex;
	flex-wrap: wrap;
}
.instructor_training05 .box .curriculum_table .l_item,
.instructor_training05 .box .curriculum_table .r_item{
	min-height: 7rem;
	padding: 0.75rem 0.5rem;
	border-bottom: solid 1px #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-right: solid 1px #000;
}
.instructor_training05 .box .curriculum_table .l_item{
	align-items: center;
	width: 33%;
	text-align: center;
	border-left: solid 1px #000;
	background: #fbf1fd;
}
.instructor_training05 .box .curriculum_table .r_item{
	align-items: flex-start;
	width: 67%;
}
.instructor_training05 .box .curriculum_table .head .l_item,
.instructor_training05 .box .curriculum_table .head .r_item{
	border-top: solid 1px #000;
}
.instructor_training05 .box .curriculum_table .head .l_item{
	color: #fff;
	background: var(--purple);
}
.instructor_training05 .box .curriculum_table .body .l_item{
	font-size: 0.9rem;
	font-weight: 500;
	color: #040000;
}
.instructor_training05 .box .curriculum_table .head .r_item{
	background: #fbf1fd;
}
.instructor_training05 .box .curriculum_table .head .l_item p{
	font-size: 0.9rem;
	font-weight: 500;
	line-height: 1.3;
}
.instructor_training05 .box .curriculum_table .head .l_item p span{
	font-size: 0.6rem;
}
.instructor_training05 .box .curriculum_table .head .l_item p span::before{
	content: '▽';
	margin-right: 0.25rem;
}
.instructor_training05 .box .curriculum_table h4{
	width: 100%;
	color: #b22bcd;
	font-size: 0.8rem;
	font-weight: 700;
}
.instructor_training05 .box .curriculum_table .body h4{
	border-bottom: solid 1px #000;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
}
.instructor_training05 .box .curriculum_table .body .r_item p{
	font-size: 0.8rem;
	line-height: 1.7;
}
/*///////////////////////////////////////////////////
//
//            ▼ IE対策 ▼
//
///////////////////////////////////////////////////*/











/*///////////////////////////////////////////////////
//
//            ▼ プライバシーポリシー01 ▼
//
///////////////////////////////////////////////////*/
.privacypolicy01 .box{
	margin: 0 auto;
}
.privacypolicy01 .box h1{
	font-size: 1.5rem;
	text-align: center;
	margin: 0 0 2rem;
}
.privacypolicy01 .box h2{
	font-size: 1.1rem;
	margin: 2.5rem 0 1rem;
}
.privacypolicy01 .box ol{
	margin: 1rem 0 1rem 1rem;
}
.privacypolicy01 .box ol li{
	list-style: decimal;
	margin: 0.5rem 0;
}
.privacypolicy01 .box ul{
	margin: 1rem 0 1rem 1rem;
}
.privacypolicy01 .box ul li{
	list-style: disc;
}
.privacypolicy01 .box ul li ol{
	margin: 0rem 0 1.5rem 1rem;
}
.privacypolicy01 .box ul li ol li{
	list-style: decimal;
}
.privacypolicy01 .box p{
	margin: 0.5rem 0;
}
.privacypolicy01 .box .right{
	text-align: right;
}



@media screen and (orientation:portrait) {/* 縦向き */}
@media screen and (orientation:landscape) {/* 横向き */}