/*///////////////////////////////////////////////////
//
//            ▼ 共通 ▼
//
///////////////////////////////////////////////////*/
main{
	margin-top: 6.5rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ swiper ▼
//
///////////////////////////////////////////////////*/
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next{
	width: 29.6px!important;
	height: 57.6px!important;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev{
	width: 29.6px!important;
	height: 57.6px!important;
}
/*///////////////////////////////////////////////////
//
//            ▼ ナビ ▼
//
///////////////////////////////////////////////////*/
header .container{
	width: 95%;
}
.header_in{
	height: 6.5rem;
}
header .logo a,
body.top header .header_in.active .logo a{
	width: 6.5rem;
}
body.top header .logo a{
	width: 8rem;
}
header .logo .txt,
body.top header .header_in.active .logo .txt{
	top: 1.25rem;
	margin-left: 2rem;
}
header .logo .txt .sitename{
	font-size: 1.6rem;
}
header .logo .txt .sub .txt01{
	font-size: 0.875rem;
}
header .logo .txt .sub .txt02{
	font-size: 0.75rem;
}
header nav,
body.top header .header_in.active nav{
	margin: auto 0 0 3rem;
}
header nav .btn_wrap{
	margin-bottom: 0.5rem;
}
body.top header nav{
	margin: auto 0 0 2rem;
}
header nav ul li{
	margin-right: 1.5rem;
}
header nav ul li:last-of-type{
	margin-right: 0;
}
header nav ul li a{
	font-size: 0.75rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ01 ▼
//
///////////////////////////////////////////////////*/
.top01 .mv{
	padding: 1.5rem;
}
.top01 .mv .en{
	font-size: 0.75rem;
	letter-spacing: 0.4em;
}
.top01 .mv h2{
	font-size: 1.5rem;
	letter-spacing: 0.4em;
	margin-top: 1.5rem;
}
.top01 .mv h2 span{
	font-size: 1rem;
}
.top01 .mv .copy{
	margin-top: 1.25rem;
}
.top01 .mv .copy p{
	font-size: 0.75rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ02 ▼
//
///////////////////////////////////////////////////*/
.top02 .box .classroom_list{
	padding: 0 2rem;
}
.top02 .box .news_event{
	padding: 0 0 0 2rem;
}
.top02 .box .news_event .item article a time{
	margin-right: 1.5rem;
}
.top02 .box .news_event .item article a .cat{
	margin-right: 1rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ03 ▼
//
///////////////////////////////////////////////////*/
.top03 .box{
	flex-wrap: wrap;
}
.top03 .box article{
	width: 48%;
	margin-top: 2rem;
}
.top03 .box article:nth-of-type(1),
.top03 .box article:nth-of-type(3){
	margin-top: 0;
}
.top03 .box article:nth-of-type(1){
	order: 1;
}
.top03 .box article:nth-of-type(2){
	order: 3;
	margin-right: 0;
}
.top03 .box article:nth-of-type(3){
	order: 2;
}
.top03 .box article:nth-of-type(4){
	order: 4;
}
.top03 .box article a .txt{
	padding: 1rem 2rem 2rem;
}
.top03 .box article a .txt .btn p{
	width: 90%;
	font-size: 0.875rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ04 ▼
//
///////////////////////////////////////////////////*/
.top04 .box .item a .inner h4{
	font-size: 1rem;
}
.top04 .box .item a .inner .img img{
	height: 4rem;
}
.top04 .box .item a .inner p{
	font-size: 0.875rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ lesson共通 ▼
//
///////////////////////////////////////////////////*/
.lesson_wrap{
	padding: 1.5rem;
}
.lesson_wrap.purple .l_item .ttl .en{
	font-size: 0.9rem;
	letter-spacing: 0.2em;
}
.lesson_wrap .l_item .price{
	padding: 0;
}
.lesson_wrap .l_item .price p span{
	margin-right: 1.5rem;
}
.lesson_wrap .txt{
	padding: 0 3.5%;
}
/*///////////////////////////////////////////////////
//
//            ▼ trial03 ▼
//
///////////////////////////////////////////////////*/
.trial03 .box .item{
	width: 31%;
}
/*///////////////////////////////////////////////////
//
//            ▼ trial04 ▼
//
///////////////////////////////////////////////////*/
.trial04 .box .step01 .item_in .inner{
	width: 23.5%;
	margin-right: 2%;
}
.trial04 .box .step02 .item_in .txt_in{
	padding-bottom: 1.25rem;
	margin-bottom: 1.25rem;
}
.trial04 .box .step02 .item_in .txt_in:last-of-type{
	padding-bottom: 2.5rem;
}
.trial04 .box .step02 .item_in .txt dt,
.trial04 .box .step02 .item_in .txt dd{
	padding: 0 0.5rem;
}
.trial04 .box .step02 .item_in .txt dt{
	width: 35%;
}
.trial04 .box .step02 .item_in .txt dd{
	font-size: 0.875rem;
	width: 65%;
}
/*///////////////////////////////////////////////////
//
//            ▼ trial05 ▼
//
///////////////////////////////////////////////////*/
.trial05 .box02 .txt01 p,
.trial05 .box02 .txt01 h3{
	font-size: 3.25rem;
}
.trial05 .box02 .txt01 p span{
	font-size: 2rem;
}
.trial05 .box02 .item .inner{
	width: 23.5%;
	margin-right: 2%;
}
/*///////////////////////////////////////////////////
//
//            ▼ instructors_schools02 ▼
//
///////////////////////////////////////////////////*/
.instructors_schools02 .box .item .profile .img{
	width: 7.5rem;
	height: 7.5rem;
}
.instructors_schools02 .box .item .profile .txt{
	width: calc(100% - 7.5rem);
	padding-left: 1.5rem;
}
.instructors_schools02 .box .item .school_wrap .lesson li{
	margin-bottom: 0.5rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ school01 ▼
//
///////////////////////////////////////////////////*/
.school01 .txt{
	height: 30vh;
	min-height: 17rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ school02 ▼
//
///////////////////////////////////////////////////*/
.school02 .menu li{
	margin-right: 4.5rem;
}
.school02 .news_event .l_item{
	width: 33%;
}
.school02 .news_event .r_item{
	width: 67%;
}
.school02 .news_event .r_item article a time{
	margin-right: 1rem;
}
.school02 .news_event .r_item article a .cat{
	margin-right: 1rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ lesson_common03 ▼
//
///////////////////////////////////////////////////*/
.lesson_common03 .box .img{
	width: 45%;
}
.lesson_common03 .box .txt{
	width: 55%;
	padding-left: 4%;
}
/*///////////////////////////////////////////////////
//
//            ▼ basic_lesson04 ▼
//
///////////////////////////////////////////////////*/
.lesson_common04 .box_in .item .txt a h3{
	font-size: 2.6rem;
}
.lesson_common04 .box_in .item .txt a .link_txt{
	margin-top: 1.5rem;
}